<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>semi_project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet-mapping>
	<servlet-name>default</servlet-name>
	<url-pattern>*.js</url-pattern>
	<url-pattern>*.css</url-pattern>
	<url-pattern>*.jpg</url-pattern>
	<url-pattern>*.gif</url-pattern>
	<url-pattern>*.png</url-pattern>
	<url-pattern>*.ico</url-pattern>
	<url-pattern>*.swf</url-pattern>
	<url-pattern>*.mp3</url-pattern>
   </servlet-mapping>
   
   <error-page>
   	<error-code>403</error-code>
   	<location>/views/error403.jsp</location>
   </error-page>
   
   <error-page>
   	<error-code>404</error-code>
   	<location>/views/error404.jsp</location>
   </error-page>
   
   <error-page>
   	<error-code>500</error-code>
   	<location>/views/error500.jsp</location>
   </error-page>
   
	<servlet>
		<servlet-name>QuartzInitializer</servlet-name>
	<servlet-class>org.quartz.ee.servlet.QuartzInitializerServlet</servlet-class>
		<init-param>
			<param-name>config-file</param-name>
			<param-value>/com/book/common/quartz.properties</param-value>
		</init-param>
		<init-param>
			<param-name>shutdown-on-unload</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>wait-on-shutdown</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>start-scheduler-on-load</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>APIScheduler</servlet-name>
		<servlet-class>com.book.common.APIScheduler</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
</web-app>