@charset "UTF-8";

 body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    max-width: 600px;
    margin-top: -50px; 
}

.text-center {
    margin-bottom: 50px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    margin-right: 15px;
    font-weight: bold;
    min-width: 80px; 
}

input[type="password"], input[type="button"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="password"] {
    width: calc(100% - 95px); 
    max-width: 400px;
    margin-right: 10px;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.btn {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
}

.btn-secondary {
    background-color: #6c757d;
}